@{
    ViewData["Title"] = "Probe Control";
}

<div class="header-probe">
    <a onclick="startProbe();" href="#" class="btn btn-primary float-right">start probe</a>
</div>

<div id="control-probe">
    <div id="navigation-probe"></div>
    <div class="list-probe">
        <select multiple id="list-select-probe"></select>
    </div>
</div>

<div class="footer-probe">
    <a onclick="rotateLeft();" href="#" class="btn btn-success">rotate left</a>
    <a onclick="rotateRight();" href="#" class="btn btn-warning">rotate right</a>
    <a onclick="moveLeft();" href="#" class="btn btn-danger">move left</a>
    <a onclick="moveRight();" href="#" class="btn btn-info">move right</a>
</div>
